.post {
    display: flex;
    align-items: flex-start; /* Align at the top */
    background-color: #FAEDCE;
    border: 1px solid #FEFAE0;
    padding: 1em;
    height: auto; /* Allow height to adjust based on content */
    border-radius: 8px;
    flex-wrap: wrap; /* Allow items to wrap if necessary */
}

.post-image img {
    max-width: 100%; 
    max-height: 270px; 
    width: auto;
    height: auto; 
    object-fit: contain; 
    margin-right: 1em; /* Adjust as needed */
}

.post-content {
    flex-grow: 1;
    max-width: calc(100% - 500px); /* Ensure it fits within available space */
    margin-left: 1em;
    overflow: hidden; /* Control overflow */
}

.post-title {
    font-size: 2.5em; /* Adjusted size */
}
.post-date {
    font-size: 2em; /* Adjusted size */
}
.post-address {
    font-size: 1.5em; /* Adjusted size */
}

.post-rating {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin-bottom: 1em;
}

.post-rating img {
    width: 50px; /* Change this value to your desired size */
    height: auto; /* Keep the aspect ratio */
}

#thumbs-up-count {
    font-size: 2.5em;
    color: #000000;
    margin-top: 1.25em;
    margin-right: 1em;
}

