*{
    font-family: 'Single Day', Arial, sans-serif;
}


.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileInfo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileUserImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid antiquewhite;
}

.profileInfoName {
    margin-top: 0;
    font-size: 35px;
    text-align: justify;
}

.profileInfoUserName {
    padding-top: 30px;
    margin-top: 0;
    font-size: 35px;
    text-align: justify;
}

.profileInfoEmail {
    margin-top: 0;
    font-size: 35px;
    text-align: justify;
}

.profileInfoDesc {
    font-weight: 200;
    font-size: 30px;
}

:root {
    --primary-color: #FAEDCE;
    --secondary-color: #ffd700;
    --background-color: #FEFAE0;
    --text-color: #333;
    --secondary-accent: #E0E5B6;
    --primary-accent: #CCD5AE;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    border-radius: 8px;
}
